.popup__close {
  background: url('../../../images/popup_close.svg') center no-repeat;
  width: 32px;
  height: 32px;
  position: relative;
  padding: 0;
  border: 0;
  top: -370px;
  right: -430px;
  /* top: 155px;
  right: 385px; */
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 700px) {
  .popup__close {
    /* top: 87px; */
    right: -330px;
  }
}

@media screen and (max-width: 450px) {
  .popup__close {
    background-size: 20px;
    top: -365px;
    right: -260px;
  }
}
