.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-left: 36px;
  padding-top: 34px;
  margin-right: 64px;
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (max-width: 1279px) {
  .popup__title {
    font-weight: 900;
    font-size: 17px;
    line-height: 22px;
    margin-left: calc(22px + (100vw - 320px)*(14 / 960));
    padding-top: calc(25px + (100vw - 320px)*(9 / 960));
    margin-right: calc(22px + (100vw - 320px)*(42 / 960));
  }
}

/* @media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
} */